@model build.Views.Home.Dashboard
@{
    ViewData["Title"] = "Dashboard";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>This is where an overview of the property portfolio will sit.</p>
</div>
<div>
    <h4>View Properties:</h4>
    <ul>
        <li></li>
    </ul>
</div>
<div>
    <h4>Balance Sheet:</h4>
    <ul>
        <li></li>
    </ul>
</div>
<div>
    <h4>Upcoming Events:</h4>
    <ul>
        <li>House 1 has a broken window.</li>
        <li>Apartment 1 has a hole in the central door.</li>
        <li>Tax Deadline coming up in 2 weeks</li>
    </ul>
</div>
<a href="/AddProperty">Add Property</a>