@page
@model build.Pages.AboutUs
@{
    ViewData["Title"] = "About Us";
}

<div>
    <h1> We are EasyRent</h1>
    <p class="col-md-4">We want to make property management easier for everyone. Reducing the effort in keeping track of all household duties, from tenant contacts to finance management.</p>
</div>