@page
@model build.Pages.Features
@{
    ViewData["Title"] = "Features";
}

<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        <li>
            Keep a clear record of your property finances
        </li>
        <li>
            Ensure you never miss a due payment 
        </li>
        <li>
            Track all events in your properties
        </li>
    </ul>
</div>