@page
@model build.Pages.Privacy
@{
    ViewData["Title"] = "Privacy";
}

<h1>@ViewData["Title"]</h1>

<div class="col-md-4>">
    <p>We collect your data for storage purposes i.e. for you to be able to access it across any device. </p>
</div>